@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}

<form action="/user/setpassword" method="post">
    <div>
        <label for="txtpassword" >Password</label>
        <input type="text" name="password" id="txtpassword" value="" />
        <input type="submit" name="name" value="Save" />
    </div>
</form>
